<!-- foot.hbs -->
<footer>
</footer>
{{#if env}}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/material.min.js"></script>
<script type="text/javascript" src="/js/ripples.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{{else}}
<script type="text/javascript" src="/js/all.js.min.js"></script>
{{/if}}
  </body>

</html>