<!-- foot.hbs -->
<footer>
</footer>
<script type="text/javascript" src="/is-the-lab-open/js/jquery.min.js"></script>
<script type="text/javascript" src="/is-the-lab-open/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/is-the-lab-open/js/material.min.js"></script>
<script type="text/javascript" src="/is-the-lab-open/js/ripples.min.js"></script>
<script type="text/javascript" src="/is-the-lab-open/js/main.js"></script>

  </body>
</html>