<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/js/pace.min.js"></script>
    <link href="/css/pace-theme-minimal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
    {{#if env}}
    <!-- for development -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/ripples.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    {{else}}
    <link rel="stylesheet" href="/css/all.styles.min.css">
    {{/if}}
</head>
<!-- end of head.bs -->