
  <p id="links">
      <span><a href="/is-the-lab-open/what/">what?</a></span> <span><a href="/is-the-lab-open/why/">why?</a></span> <span><a href="/is-the-lab-open/how/">how?</a></span> <span><a href="/is-the-lab-open/who/">who?</a></span> <span><a href="/is-the-lab-open/">back?</a></span>
  </p>
