<div class="vertical-center">

<div class="container">
  <div class="row row-centered">
    <div class="col-md-3 col-centered">
      <h1>{{val}}</h1>
    </div>
  </div>
<div class="row row-centered">
  <div class="col-md-3 col-centered">
  <p id="links">
      <span><a href="#">what?</a></span> <span><a href="#">why?</a></span> <span><a href="#">how?</a></span> <span><a href="#">who?</a></span>
  </p>
  </div>
</div>
</div>
</div>